{
  "extends": "eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-use-before-define": ["error", { "functions": false }],
    "valid-jsdoc": ["error", {
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "new-cap": [2, { "capIsNew": false }],
    "require-jsdoc": [2, {"require": { "FunctionDeclaration": false }}],
    "no-undefined": [0],
    "no-var": [2],
    "no-underscore-dangle": [0],
    "max-len": ["error", 100],
    "object-shorthand": ["error", "always"]
  },
  "env": {
    "node": true,
    "es6": true
  }
}
